{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    {% block css %}
      <link rel="stylesheet" href="{% static 'bdenapp/style.css' %}" />
      <link rel="stylesheet" href="{% static 'bdenapp/home_style.css' %}" />
      <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cantata+One&family=Holtwood+One+SC&display=swap"
            rel="stylesheet">
    {% endblock css %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!-- for the search button functionality -->
    <style>{% block style %}
    .footers {
      display: grid;
    background-color: #dd1c46;
    grid-column: full-start / full-end;
    padding: 90rem;

  }
  .icon {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .icon__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .icon__link:hover, .icon__link:active {
    background-color: rgba(1, 20, 0, 0.05);
    transform: translateY(-3px); }
    .owner {
      text-decoration: none;
    }
     {% endblock %}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg shadow p-3 mb-5 sticky-top bg-body-tertiary rounded border border-secondary-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'bdenapp/images/bden.png' %}"
               alt="B-Den"
               width="50"
               height="50"
               class="d-inline-block align-text-top" />
          <span class="bden">B-DEN</span>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Welcome {{ request.user }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Action</a>
                <ul class="dropdown-menu">
                  <!-- <li>
                    <a class="dropdown-item" href="#">Blog</a>
                  </li> -->
                  <li>
                    <a class="dropdown-item" href="{% url 'update_profile_picture' %}">Update Profile</a>
                  </li>
                  {% if user.profile.is_owner %}
                    <li>
                      <a href="{% url 'upload_property' %}" class="btn btn-outline-secondary">Upload a Property</a>
                    </li>
                    <li>
                      <a href="{% url 'upload_images' %}" class="btn btn-outline-secondary">Attach more images</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% if user.is_superuser %}
                <li class="nav-item">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'upload_property' %}">Upload Property</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'upload_images' %}">Upload images</a>
                      </li>
                    </ul>
                  </div>
                </li>
              {% endif %}
            </ul>
          {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          {% endif %}
          <form class="d-flex me-5 pe-5"
                method="get"
                action="{% url 'property_search_result' %}">
            <input class="form-control me-2"
                   type="text"
                   name="q"
                   placeholder="Search"
                   aria-label="Search"
                   id="search-input_word"
                   autocomplete="off" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div id="results"></div>
        </div>
      </div>
    </nav>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
    <!-- footer -->
    <div class="space"></div>
    <footer class="footers">
      <ul class="icon">
        <li class="icon__item">
          <a href="{% url 'find_property' %}" class="icon__link">Find your dream home</a>
        </li>
        <li class="icon__item">
          <a href="{% url 'contact_us' %}" class="icon__link">Contact us</a>
        </li>
        <li class="icon__item">
          <a href="{% url 'submit_property' %}" class="icon__link">Submit your property</a>
        </li>
      </ul>
      <p class="copyright">&copy; Copyright 2025 by Jenny.</p>
    </footer>
    {% block script %}
    {% endblock script %}
    <script src="{% static 'bdenapp/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
              {% block js %}
              
            {% endblock js %}
    </script>
    <script>
      $(document).ready(function() {
  $('#search-input_word').on('keyup', function() {
  const query = $(this).val();
  if (query.length > 1) {
  $.ajax({
  url: "{% url 'property_autocomplete_view' %}",
  data: { 'q': query },
  headers: {
    'X-CSRFToken': '{{ csrf_token }}'
  },

  success: function(data) {
  let suggestions = '';
  data.forEach(function(item) {
  suggestions += `
  <div class="matching-items">${item}</div>
  `;
  });
  $('#results').html(suggestions);
  }
  });
  } else {
  $('#results').empty();
  }
  });
  // Add click functionality for suggestions
  $(document).on('click', '.matching-items', function() {
  $('#search-input_word').val($(this).text());
  $('#results').empty();
  });
  });
    </script>
  </body>
</html>
