{% extends 'bdenApp/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Category View
{% endblock title %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
{% block style %}
    .cards {
    max-width: 100%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;
    grid-gap: 15px;
    padding: 3rem;
    }
    .card {
    border: 1px solid #999;
    padding: 1rem;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-gap: 5px;
    }
    .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
    .content {
    padding: 1rem;
    text-align: justify;
    }
    .category--heading {
    letter-spacing: 5px;
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
    }
{% endblock style %}
{% block content %}
    <div class="category--heading">
        <h2>Category View</h2>
    </div>
    <section class="for-property">
        <div class="cards">
            {% for obj in objects %}
                <div class="card">
                    <a href="{% url 'propertyview' obj.pk %}">
                        <img src="{{ obj.picture.url }}" alt="{{ obj.owner }}" />
                    </a>
                    <div class="content">
                        <h3>{{ obj.location |first_word_before_comma }}</h3>
                        <p>{{ obj.description }}</p>
                    </div>
                    <div class="content">₦{{ obj.price | intcomma }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
