{% extends 'bdenapp/base.html' %}
{% load static %}
{% block title %}
    Contact us
{% endblock title %}
{% block style %}
    .body--context {
    margin: 2rem;
    padding: 15rem;
    }
    .head--text {
    letter-spacing: 5px;
    text-align: center;
    padding: 2rem;
    }
    .head--text h1 {
    font-size: 30px;
    }
    .contact {
    text-align: center;
    margin: 3rem;
    letter-spacing: 5px;
    }
    .contact p {
    font-size: 2rem;
    }
{% endblock style %}
{% block content %}
    <div class="body---context">
        <div class="head--text">
            <h1>CONTACT INFORMATION</h1>
        </div>
        <div class="contact">
            <p>For inquiries, support or dispute resolution, contact [07037697048, 08121074072].</p>
        </div>
    </div>
{% endblock content %}
