{% extends 'bdenapp/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Dashboard
{% endblock title %}
{% block style %}
    .wrapper {
    display: grid;
    grid-template-areas:
    "main main"
    "managed-properties managed-properties"
    "saved saved"
    "purchased purchased";
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    }
    .main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12rem;
    padding: 1rem;
    width: 200%;
    background: green;
    color: white;
    }
    .profile-info {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    order: 1;
    width: 50%;
    }
    .bio-section {
    align-self: center;
    }
    .profile {
    width: 40px;
    border-radius: 50%;
    order: 1;
    }
    .user--name {
    grid-area: main;
    letter-spacing: 10px;
    display: flex;
    }
    .user--name h2 {
    display: inline-block;
    }
    .user--name h2:nth-child(2) {
    color: yellow;
    font-size: 18px;
    margin-left: 3rem;
    }
    .user--name button {
    padding: 1px 1rem;
    font-size 18px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 2rem;
    }
    .saved {
    grid-area: saved;
    }
    .saved--later {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
    }
    .saved--later img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
    .saved h2 {
    text-align: center;
    }
    .purchased {
    grid-area: purchased;
    }
    .managed-properties {
    grid-area: managed-properties;
    padding: 1rem;
    margin: 1rem;
    }
    .your_properties {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
    gap: 2rem;
    margin: 12rem;
    }
    .properties {
    gap: 2px;
    display: grid;
    justify-items: center;
    }
    .properties p {
    font-size: 18px;
    }
    .your_properties img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 0.5px black;
    padding: 0.5rem;
    }
    .close {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    }
    .close:hover {
    background-color: #ff3333;
    }
    .sub--text {
    text-transform: uppercase;
    }
    .heading--text {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 20px;
    }
    .headline {
    text-align: center;
    margin: 2rem;
    }
{% endblock style %}
{% block content %}
    <div class="wrapper">
        <div class="main">
            <div class="profile-info">
                {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}"
                         alt="Profile Picture"
                         class="profile">
                {% else %}
                    <img src="{% static 'bdenapp/images/profile.png' %}"
                         alt="Default Profile Picture"
                         class="profile">
                {% endif %}
                <div class="bio-section">
                    <button class="btn btn-secondary"
                            data-bs-toggle="collapse"
                            data-bs-target="#bioCollapse"
                            aria-expanded="false"
                            aria-controls="bioCollapse">View Bio</button>
                    <div class="collapse" id="bioCollapse">
                        <h2>{{ user_profile.bio|default:"No bio provided." }}</h2>
                    </div>
                </div>
            </div>
            <div class="user--name">
                <div class="user-name">
                    <h2>Welcome {{ user_profile.user.username }}</h2>
                    {% if user.profile.is_owner %}
                        <h2 class="realtor">REALTOR</h2>
                    {% elif user_profile.user.is_superuser %}
                        <button>Admin User</button>
                    {% else %}
                        <a href="{% url 'bdenapp:is_owner' %}">
                            <button>Become a realtor</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="managed-properties">
            {% if user_profile.is_owner %}
                <h2>Your managed properties on b-den</h2>
                <div class="your_properties">
                    {% for property in properties %}
                        <div class="properties">
                            <a href="{% url 'propertyview' property.pk %}">
                                <img src="{{ property.picture.url }}"
                                     alt="{{ user_profile.user.username }}">
                            </a>
                            <p>{{ property.description }}</p>
                            <p>{{ property.location |first_word_before_comma }}</p>
                        </div>
                    {% endfor %}
                {% elif user_profile.user.is_superuser %}
                    <h2>You are a super user</h2>
                {% else %}
                    <a href="{% url 'bdenapp:home' %}">
                        <h2>view listed properties</h2>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="saved">
            <div class="heading--text">
                <h2>Saved Items</h2>
            </div>
            <div class="saved--later">
                {% for item in saved_items %}
                    <div class="image">
                        <img src="{{ item.property.picture.url }}" alt="{{ item.description }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="purchased">
            <div class="headline">
                <h2 class="heading--text">Purchased Properties</h2>
            </div>
            <div class="purchases">
                {% for item in purchases %}
                    <div class="purchases--container" data-id="{{ item.id }}">
                        <a href="" class="purchases--img">
                            <img src="{{ item.property.picture.url }}"
                                 alt="Property Image"
                                 height="150">
                        </a>
                        <button class="close" onclick="deleteImage('{{ item.id }}')">x</button>
                    </div>
                {% empty %}
                    <h3 class="sub--text">No purchases</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    const csrfToken = '{{ csrf_token }}';
    function deleteImage(id) {
    // Optionally, make an AJAX call to delete the item server-side
    fetch(`delete-purchase/${id}/`, {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrfToken
    }
    })
    .then(response => {
    if (response.ok) {
    // Find the container for the image and remove it from the DOM
    const container = document.querySelector(`[data-id="${id}"]`);
    if (container) {
    container.remove();
    }
    } else {
    alert('Failed to delete the image.');
    }
    });
    }
{% endblock js %}
