{% extends 'bdenapp/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Property View
{% endblock title %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
{% block style %}
    .main-body {
    display: grid;
    background: rgba(0,0,255,0.5);
    grid-template-areas:
    "main-property related"
    "for-review contact";
    gap: 25px;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
    grid-template-rows: auto auto;
    color: white;
    <!-- grid-auto-rows: 100px; -->
    }
    .main-property {
    grid-area: main-property;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    }
    .media {
    border: 1px solid #ccc;
    padding: 10px;
    <!-- background-color: #f9f9f9 -->
    }
    .for-review {
    grid-area: for-review;
    display: grid;
    }
    .related {
    grid-area: related;
    display: grid;
    }
    .media-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    }
    .media-1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    }
    .media-1 .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font: 18px sans-serif;
    }
    .media-2 {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    align-items: start;
    }
    .images-col img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    }
    .related-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    }
    .related-item {
    display: flex;
    flex-direction: row; /* Arrange image and text side by side */
    align-items: center; /* Center content vertically within the row */
    gap: 20px; /* Add space between image and text */
    }
    .related-image img {
    width: 100px; /* Set the image width */
    height: 100px; /* Set the image height */
    object-fit: cover; /* Ensure the image fills the dimensions without distortion */
    display: block;
    }
    .related-item .related-content h2 {
    font: 16px sans-serif;
    }
{% endblock style %}
{% block content %}
    <div class="main-body">
        <section class="main-property">
            <div class="media">
                <div class="media-1">
                    <div class="img">
                        <img src="{{ property.picture.url }}" alt="{{ property.owner }}">
                    </div>
                    <div class="content">
                        <h3>
                            <strong>Location:</strong>
                            <br>
                            {{ property.location }}
                        </h3>
                        <h4>{{ property.description }}</h4>
                        <p>
                            Type:
                            <br>
                            {{ property.typeChoice }}
                        </p>
                        <h2 class="display-4">₦{{ property.price | intcomma }}</h2>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-2">
                    {% for image in images %}
                        <div class="images-col">
                            <img src="{{ image.images.url }}" alt="{{ image.property.owner }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="media">
                <div class="p-4 m-4">
                    <a href="">
                        <button class="btn btn-info btn-lg me-4">Purchase this Property</button>
                    </a>
                    <button class="btn btn-lg btn-secondary">Save for later</button>
                </div>
            </div>
        </section>
        <section class="for-review">
            <div class="reviews">
                <h2 class="review-heading">See the reviews on this property</h2>
                {% for review in reviews %}
                    <div class="review">
                        <div class="reviewer-img">
                            <img src="" alt="">
                        </div>
                        <div class="reviewer-name">
                            <h3>{{ review.user.username }}: {{ review.rating }}/5</h3>
                        </div>
                        <div class="review-text">{{ review.review_text }}</div>
                    </div>
                {% empty %}
                    <h4>No reviews yet</h4>
                {% endfor %}
            </div>
        </section>
        <div class="related">
            <div class="related-items">
                <h2 class="display-5">See similar properties</h2>
                {% for property in properties %}
                    <div class="related-item">
                        <div class="related-image">
                            <a href="{% url 'propertyview' property.pk %}">
                                <img src="{{ property.picture.url }}" alt="{{ property.owner }}">
                            </a>
                        </div>
                        <div class="related-content">
                            <h2>{{ property.description }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="for-contact">
            <div class="contact-form">
                <form action="">
                    <label for="username">Name:</label>
                    <input type="text" id="username" required>
                    <label for="email">Email</label>
                    <input type="email" name="" id="email">
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
