{% extends 'bdenapp/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}
    Property View
{% endblock title %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
{% block style %}
    .main-body {
    display: grid;
    background-color: rgba(0,0,0,0.3);
    grid-template-areas:
    "main-property related"
    "for-review contact";
    gap: 55px;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
    grid-template-rows: auto auto;
    color: white;
    <!-- grid-auto-rows: 100px; -->
    }
    .main-property {
    grid-area: main-property;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    }
    .media {
    <!-- border: 1px solid #ccc; -->
    padding: 10px;
    <!-- background-color: #f9f9f9 -->
    }
    .for-review {
    grid-area: for-review;
    display: grid;
    }
    .related {
    grid-area: related;
    display: grid;
    }
    .media-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    }
    .media-1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    }
    .media-1 .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font: 18px sans-serif;
    }
    .media-2 {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    align-items: start;
    }
    .images-col img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    }
    .related-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    }
    .related-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    }
    .related-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    }
    .related-item .related-content h2 {
    font: 16px sans-serif;
    }
    .reviews {
    padding: 2rem;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    }
    .review-heading {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    }
    .review img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    }
    .title--head {
    margin: 4em;
    text-align: center;
    }
    .review {
    text-align: center;
    }
    .para {
    margin: 2rem;
    letter-spacing: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    }
    .reviewer-rating {
    display: block;
    align-items: center;
    }
    .star {
    font-size: 20px;
    color: #ccc; /* Gray for empty stars */
    }
    .star.filled {
    color: #ffc107; /* Gold for filled stars */
    }
{% endblock style %}
{% block content %}
    <div class="main-body">
        <section class="main-property">
            <div class="media">
                <div class="media-1">
                    <div class="img">
                        <img src="{{ property.picture.url }}" alt="{{ property.owner }}">
                    </div>
                    <div class="content">
                        <h3>
                            <strong>Location:</strong>
                            <br>
                            {{ property.location }}
                        </h3>
                        <h4>{{ property.description }}</h4>
                        <p>
                            Type:
                            <br>
                            {{ property.typeChoice }}
                        </p>
                        <h2 class="display-4">₦{{ property.price | intcomma }}</h2>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-2">
                    {% for image in images %}
                        <div class="images-col">
                            <img src="{{ image.images.url }}" alt="{{ image.property.owner }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="media">
                <div class="p-4 m-4">
                    {% if property.isPeerToPeer and property.provision == "Rent" %}
                        <a href="" class="">
                            <button class="btn btn-info me-4">Check the PeerToPeer condition</button>
                        </a>
                    {% elif property.provision == "Lease" %}
                        <a href="">
                            <button class="btn btn-info me-4">See the lease condition</button>
                        </a>
                    {% elif property.provision == "Rent" %}
                        <a href="">
                            <button class="btn btn-info btn-lg me-4">Rent this Property</button>
                        </a>
                    {% elif property.provision == "Sale" %}
                        <a href="{% url 'purchase' property.id %}">
                            <button class="btn btn-info me-4">Purchase this property</button>
                        </a>
                    {% endif %}
                    <a href="{% url 'save_for_later' property.id %}">
                        <button class="btn btn-lg btn-secondary">Save for later</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="for-review">
            <div class="title--head">
                <h2 class="review-heading">See the reviews on this property</h2>
            </div>
            <div class="reviews">
                {% for review in reviews %}
                    <div class="review">
                        <img src="{{ review.user.profile.profile_picture.url }}" alt="">
                        <div class="para">
                            <p>{{ review.user.username }}</p>
                        </div>
                    </div>
                    <div class="reviewer-name">
                        <div class="reviewer-rating">
                            {% for i in 1|to:6 %}
                                <!-- Loop from 1 to 5 (inclusive) -->
                                {% if i <= review.rating %}
                                    <span class="star filled">★</span>  <!-- Filled star for ratings less than or equal to user input -->
                                {% else %}
                                    <span class="star">★</span>  <!-- Empty star for remaining -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        {{ review.review_text }}
                    </div>
                {% empty %}
                    <h4>No reviews yet</h4>
                {% endfor %}
            </div>
        </section>
        <div class="related">
            <div class="related-items">
                <h2 class="display-5">See similar properties</h2>
                {% for property in properties %}
                    <div class="related-item">
                        <div class="related-image">
                            <a href="{% url 'propertyview' property.pk %}">
                                <img src="{{ property.picture.url }}" alt="{{ property.owner }}">
                            </a>
                        </div>
                        <div class="related-content">
                            <h2>{{ property.description }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="for-contact">
            <div class="contact-form">
                <form action="">
                    <label for="username">Name:</label>
                    <input type="text" id="username" required>
                    <label for="email">Email</label>
                    <input type="email" name="" id="email">
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
